.nav-list-Intranet{
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 177, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}


.navbarIntranetCustom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    margin-left: 10%;
}

.menuMobileIntranet {
    display: none;
    margin-right: 5%;   
}

@media screen and (max-width: 920px) {
    .navbarIntranetCustom {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 1000;
        gap: 2rem;
        background-color: rgb(46, 46, 46);
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
        margin-left: 0%;
        width: 50%;
      }

    .navbarIntranetCustom.visible {
        opacity: 1;
        visibility: visible;
      }



    .nav-list-Intranet{
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 0.5rem;
        font-size: large;
    }

    .menuMobile{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        margin-right: 5%;
        color: black;
      }
}


 













.nav-item-Intranet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



    border-right: 1px solid rgb(218, 218, 218);
    padding: 0.5%;
    font-weight: bold;
    width: 20%;
}

.nav-item-icon{
margin-right: 5%;
}

.nav-item-Intranet:hover{
    background-color: rgb(241, 214, 164);
}