.tableTransitoMaritimo{
    margin-inline: 2.5%;
}

.titleIntranet{
    font-weight: bold;
    margin-top: 3%;
}



@media screen and (max-width: 600px) {

    .titleIntranet{
        margin-top: 10%;
        margin-inline: 5%;
        font-size: small;
    }


}
