.slick-prev:before{
    color: white; /* Color de las flechas */
    font-size: 20px; /* Tamaño de la fuente de las flechas */
}

.slick-next:before {
  color: white; /* Color de las flechas */
  font-size: 30px; /* Tamaño de la fuente de las flechas */
}

.slick-prev {
  left: 1px; /* Ajusta la posición izquierda de la flecha anterior */
}
.slick-next {
  right: 50px; /* Ajusta la posición derecha de la flecha siguiente */

}

.Banner1{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/camiones.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}

.Banner2{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/banner2.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}
.Banner3{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/banner3.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}

.BannerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;;
    gap: 5%
}

.BannerTitle1{
    font-size: xxx-large;
    font-weight: bold;
    color: white
}
.BannerTitle2{
    font-size: xx-large;
    color: white;
}

.buttonBanner{
    background-color: rgb(253, 177, 0);
    margin-top: 2%;
    padding: 1%;
    font-weight: bold;
    border-radius: 0.375rem;
}

.Statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SectionMain{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 80%;
    margin-top: 2%;
}

.TitleSection{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.StaticsCounters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-inline: 3%;
    margin-block: 2%;
    padding: 1%;
    gap: 5%;
}

.Counter{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CounterItem{
    font-size: 400%;
    font-weight: bolder;
    color: rgb(253, 177, 0);
}



.CounterTitle{
    font-weight: bold;
    margin-top: 2%;
}

.CounterDescription{
    margin-top: 2%;
    text-align: justify;
}

.LineHr{
    width:100%; 
    margin-block: 2.5%;
}

.Commitment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CommitmentArticles{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-block: 5%;
}

.CommitmentImg{
    width: 80%;
}

.CommitmentArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-inline: 3%;
}

.CommitmentTitle{
    margin-block: 5%;
    font-weight: bold;
    font-size: large;
}

.CommitmentDescription{
    text-align: justify;
}

.Map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2%;
    margin-inline: auto;
}

.MapCustom{
    margin: 3%;
    width: 100%;
}


@media screen and (max-width: 992px) {
    .Banner1,.Banner2,.Banner3{
        height: 50vh;
    }
    .BannerSection{
        margin-top: 17%;;
        gap: 10px;
    }

    .BannerTitle1{
        font-size: xx-large
    }
    .BannerTitle2{
        font-size: x-large
    }

    .TitleSection{
        margin-inline: auto;
        margin-top: 5%;
        text-align: center;
    }
    .StaticsCounters{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }
    .Counter{
        width: 70%;
        margin-block: 5%;
    }
    .CounterItem{
        font-size: 300%;
    }

    .CommitmentArticles{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }

    .CommitmentImg{
        width: 50%;
    }

    .CommitmentArticle{
        width: 60%;
        margin-bottom: 5%;
        gap: 5%;
    }

    .MapCustom{
        margin-top: 10%;
    }
}

@media screen and (max-width: 768px) {
    .BannerSection{
        margin-top: 28%;;
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .BannerSection{
        margin-top: 32%;;
        gap: 10px;
    }
    .BannerTitle1{
        font-size: large
    }
    .BannerTitle2{
        font-size: medium
    }
    .buttonBanner{
        font-size: small;
        padding: 2%;
    }
}
