.slick-prev:before{
    color: white; /* Color de las flechas */
    font-size: 20px; /* Tamaño de la fuente de las flechas */
}

.slick-next:before {
  color: white; /* Color de las flechas */
  font-size: 30px; /* Tamaño de la fuente de las flechas */
}

.slick-prev {
  left: 1px; /* Ajusta la posición izquierda de la flecha anterior */
}
.slick-next {
  right: 50px; /* Ajusta la posición derecha de la flecha siguiente */

}

.Banner1{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/camiones.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}

.Banner2{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/banner2.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}
.Banner3{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/banner3.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;
}

.BannerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;;
    gap: 5%
}

.BannerTitle1{
    font-size: xxx-large;
    font-weight: bold;
    color: white
}
.BannerTitle2{
    font-size: xx-large;
    color: white;
}

.buttonBanner{
    background-color: rgb(253, 177, 0);
    margin-top: 2%;
    padding: 1%;
    font-weight: bold;
    border-radius: 0.375rem;
}


.Statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.StaticsSection{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 80%;
    margin-top: 2%;
}

.TitleStaticsSection{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.StaticsCounters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-inline: 3%;
    margin-block: 2%;
    padding: 1%;
    gap: 5%;
}

.Counter{
    width: 25%;
}

@media screen and (max-width: 992px) {
    .Banner1,.Banner2,.Banner3{
        height: 50vh;
    }
    .BannerSection{
        margin-top: 17%;;
        gap: 10px;
    }

    .BannerTitle1{
        font-size: xx-large
    }
    .BannerTitle2{
        font-size: x-large
    }

    .TitleStaticsSection{
        margin-inline: auto;
        margin-top: 5%;
    }
    .StaticsCounters{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
    
    }
    .Counter{
        width: 50%;
        margin-block: 5%;
    }
}

@media screen and (max-width: 768px) {
    .BannerSection{
        margin-top: 28%;;
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .BannerSection{
        margin-top: 32%;;
        gap: 10px;
    }
    .BannerTitle1{
        font-size: large
    }
    .BannerTitle2{
        font-size: medium
    }
    .buttonBanner{
        font-size: small;
        padding: 2%;
    }
}



.customSection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    width: 80%;
    margin-top: 2%;
}

.customMap{
    margin: 3%;
    width: 100%;
}
.imgCompromiso{
    width: 60%;
    border-radius: 50%;
}

.articleCompromiso{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-inline: 3%;

}

.titleCompromiso{
    margin-block: 5%;
    font-weight: bold;
    font-size: large;
}

.descriptionCompromiso{
    text-align: justify;
}

.section2{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-block: 5%;
}
.descriptionCardsSection1{
    text-align: justify;
}






.footerLine1{
    width:100%; 
    margin: 1.5%;
}

.clientesHomePage{
    padding: 20% !important;
}


.customSlogan{
    background-color: rgb(199, 184, 156);
    padding: 30px;
    font-size: 150%;
    opacity: 0.9;
}







.itemCount{
    font-size: 400%;
    font-weight: bolder;
    color: rgb(253, 177, 0);
    text-align: center;
    padding: 10%;
    /* border: 5px rgb(253, 177, 0) solid; */

    border-radius: 50%;
}

article{
    text-align: center;
}
.titleCardsSection1{
    font-weight: bolder;
    margin: 5%;
}

