.customTableSummary{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 5%;
}

.buttonSummary{
    background-color: rgb(253, 177, 0);
    padding: 6%;
    border-radius: 0.375rem;
    margin-block: 10%;
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.buttonSummary:hover{
    background-color: rgb(125, 170, 255);

}


@media screen and (max-width: 920px) {
    
    .customTableSummary{
        width: 100%;
    }

    .customTable{
        margin-top: 15%;
        font-size: small;
        width: 90%;

    }
    
    

}