.customTableStatus{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 2%;
}

.centrarElemento{
    margin-inline: auto;
}

.tableCellColumnStatus{
    background-color: rgb(233, 174, 48);
    font-weight: bolder;
}