.mainNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleNosotros{
    margin: 2%;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 85%;
}


.nosotrosTitle{
    margin-bottom: 7%;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.nosotrosImg{ 
    width: 25%;
    margin: 3%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    justify-content: center !important;
}

.nosotrosParagraph{
    font-size: x-large;
    text-align: justify;
}

.nosotrosArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0.5%;
    background-color: rgb(126, 126, 126);
}



.nosotrosItem{
    width: 85%;
    justify-content: center !important;
    margin: 5%;

}


@media screen and (max-width: 1400px) {    
    .nosotrosParagraph{
        font-size: large;
    }
}
@media screen and (max-width: 920px) {
    .nosotros{
        width: 80%;
        gap:10px;
    }
    .nosotrosTitle{
        font-size: large;
        margin-top: 5%;
    }
    .nosotrosArticle{
        flex-direction: column;
        margin-block: 3%;
    }
    .nosotrosImg{
        width: 45%;
    }
}

@media screen and (max-width: 600px) {   
    .nosotrosTitle{
        font-size: medium;
    }
    
    .nosotrosParagraph{
        font-size: small;
    }

    .titleNosotros{
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: x-large;
    }
    
}