.FooterMain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(49, 49, 49); 
    height: auto;
    padding-block: 2%;
}

.FooterLogo{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.FooterCentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.FooterArticle{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin: 1.5%;
}

.FooterTitle{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0.5%;
}

.FooterDescription{
    font-size: medium;
}

.FooterLine{
    width:100%; 
    color:rgb(190, 183, 169);
    size: 5px !important;
    margin: 2%;
}

.FooterCentroBottom{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    color: aliceblue;
}

.FooterEnd{
    width: 20%;
    display: flex;
    flex-direction:column;
    color: aliceblue;
}

.FooterEndContact{
    display: flex;
    flex-direction: column;
}

.FooterButtonContact{
    background-color:rgb(253, 177, 0);
    color: black;
    font-weight: bold;
    padding: 4%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-top: 10%;

}

.FooterLinkContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.FooterButtonMensaje{
    margin-inline: auto;
}

@media screen and (max-width: 992px) {
    .FooterTitle,FooterButtonContact{
        font-size: medium;
    }

    .FooterDescription,.FooterButtonMensaje{
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    .FooterMain{
        flex-direction: column;
        height: auto;
    }

    .FooterCentro{
        width: 70%;
        margin-block: 1%;
    }

    .FooterLogo{
        width: 50%;
        margin-block: 3%;
    }

    .FooterEnd{
        width: 70%;
        margin-block: 1%;
        margin-bottom: 5%;
    }

    .FooterCentroBottom{
        display: none;
    }
}


@media screen and (max-width: 576px) {
    .FooterLogo{
        width: 70%;
        margin-block: 5%;
    }

    .FooterTitle,FooterButtonContact{
        font-size: small;
    }

    .FooterDescription,.FooterButtonMensaje{
        font-size: x-small;
    }
}

