.Contacto{
    background-color: rgb(177, 177, 177) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 2%;

}

.ContactoCard{
    background-color: rgb(230, 230, 230) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 2%;
    border-radius: 0.375rem;

}

.ContactHeaderTitle{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5%;
}

.ContactHeaderTitle2{
    font-size: large;
    margin-bottom: 1.5%;
}

.ContactHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-inline: auto;
    margin-block: 2%;
}

.ContactArticle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-block: 1.5%;
}

.ContactArticleMessage{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-top: 1rem;
}



.ContactInput{
    width: 100%;
    background-color: rgb(216, 216, 216);
    color: black;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 0.375rem;
    margin-left:1rem;
}

.ContactLabel{
    width: 25%;
}


.ContactSelect{
    background-color: rgb(216, 216, 216);
    border-radius: 0.375rem;
    width:auto;
    padding:0.5rem;
    margin-left:1rem;
}

.ContactMessage{
    background-color: rgb(216, 216, 216);
    padding:0.5rem;
    border-radius: 0.375rem;
    width:75%
}

.ContactButton{
    background-color: rgb(66, 66, 66) !important;
    color: white;
    font-weight: bold;
    border-radius: 0.375rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 2rem;
    width: 30%;
    margin-inline: auto;

}
.ContactButton:hover{
    color: rgb(253, 177, 0);;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.ContactForm{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1400px) {
    .ContactoCard{
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .ContactHeaderTitle{
        font-size: large;
    }
    .ContactHeaderTitle2{
        font-size: medium;

    }
    .ContactoCard{
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .ContactoCard{
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .ContactoCard{
        width: 80%;
        margin: 7%;
        padding: 3%;
    }
}

@media screen and (max-width: 450px) {
    .ContactoCard{
        width: 85%;
        margin: 10%;
        padding: 5%;
    }

    .ContactLabel{
        width: 15%;
    }

    .ContactInput{
        width: 70%;
        background-color: rgb(216, 216, 216);
        color: black;
        padding-inline: 0.5;
        padding-block: 0.2rem;
        margin-block: 0.2rem;
        border-radius: 0.15rem;
        margin-left:0.5rem;
    }

    .ContactSelect{
        background-color: rgb(216, 216, 216);
        border-radius: 0.375rem;
        width:70%;
        padding:0.25rem;
        margin-left:0.5rem;
    }


    .ContactMessage{
        background-color: rgb(216, 216, 216);
        padding:0.25rem;
        border-radius: 0.175rem;
        width:70%
    }

    .ContactArticle{
        justify-content: space-between;
    }
    

}

@media screen and (max-width: 380px) {
    .ContactoCard{
        width: 85%;
        margin: 10%;
        padding: 5%;
    }

    .ContactLabel{
        width: 15%;
    }

    .ContactInput{
        width: 70%;
        background-color: rgb(216, 216, 216);
        color: black;
        padding-inline: 0.5;
        padding-block: 0.2rem;
        margin-block: 0.2rem;
        border-radius: 0.15rem;
        margin-left:0.5rem;
    }

    .ContactSelect{
        background-color: rgb(216, 216, 216);
        border-radius: 0.375rem;
        width:70%;
        padding:0.25rem;
        margin-left:0.5rem;
    }


    .ContactMessage{
        background-color: rgb(216, 216, 216);
        padding:0.25rem;
        border-radius: 0.175rem;
        width:70%
    }

    .ContactArticle{
        justify-content: space-between;
    }
    
    

}