.loginPage{
    background-image: url("../../assets/login.jpg");
    background-color: rgba(41, 41, 41, 0.9);
    backdrop-filter: blur(100px); /* Efecto visual de desenfoque */
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.boxLogin{
    background-color:  rgb(24 24 27) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 0.375rem;
}

.titleLogin{
    font-size: 1.875rem;
    font-weight: bold ;
    margin-bottom: 2.5rem ;
    margin-top: 1.25rem;
    color: white;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.75rem;
}

.inputLogin{
    width: 100%;
    background-color: rgb(63 63 70);
    color: white;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 0.375rem;
}

.buttonLogin{
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-block: 1rem;
    background-color: rgb(175, 175, 175) !important;
    font-weight: bold;
    color:rgb(255, 255, 255) ;
    border-radius: 0.25rem;
}

.buttonLogin:hover {
    background-color: rgb(161 161 170);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}


.boxResetPassword{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    .boxLogin{
        width: 85%;
        text-align: center;
    }
}