.navbarMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 20vh;
}

.navbarMainBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    width: 90%;
}

.navbarList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbarLink{
    color: black;
    font-weight: bolder;
    font-size: large;
}


.navbarLogoBox{
    width: 35%;
    margin-right: 22%;
}

.navbarLog{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: rgb(253, 177, 0);
    padding: 1.5%;
    font-weight: bold;
    border-radius: 0.375rem;
}

.navbarLogoLog{
    width: 20px;
}

.navbarLink:hover{
    color: rgb(253, 177, 0);
}

.navbarTitle{
    font-weight: bold;
    font-size: large;
}

.abrirMenu{
    display: none;
}

@media screen and (max-width:550px){
    .abrirMenu{
        display: block;
        width: auto;
    }
    .navbarCustom{
        display: none;
    }
    .logoNavbar{
        width: 100%;
    }
    .navbarCustom{
        position: absolute;
        top:0;
        right:0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


@media screen and (max-width:1400px){
    .navbarMain{
        justify-content:center;
        width:100%
    }

    .navbarLogoBox{
        width: 40%;
        margin-right: 15%;
    }

    .navbarLink{
        margin-inline: 1%;
    }
}